* {
  box-sizing: border-box;
}

/* Đổi đơn vị PX sang rem */
html {
  font-size: 82.5%;
}
body {
  /* 1.6rem = 16px */
  font-size: 1.6rem;
}
/* Common CSS */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Start header CSS (viết CSS cho phần Header ở đây)*/
.header nav a {
}

/* End header section(kết thúc CSS cho phần header) */
