* {
  box-sizing: border-box;
}
:root {
  --primary-text-color: #171100;
  --backround-color: #fffcf4;
  --white-color: #fff;
}

/* Đổi đơn vị PX sang rem */
html {
  font-size: 62.5%;
}
body {
  /* 1.6rem = 16px */
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}
/* Common CSS */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Header section (viết CSS cho phần Header ở đây)*/
.header {
  background: var(--backround-color);
  padding-top: 44px;
  padding-bottom: 44px;
}
.header .main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* short hand:margin: 0 auto; */
  max-width: calc(100% - 24px);
}

.header .body {
  display: flex;
  align-items: center; /* căn giữa theo trục dọc*/
}

.header nav {
  display: flex;
  margin-left: auto;
}
.header nav a {
  font-weight: 600px;
  font-size: 1.6rem; /* tức là 16px*/
  line-height: 28px;
  color: var(--primary-text-color);
  padding-left: 21px;
  padding-right: 21px;
}
/* Pseudo class: lớp giả */

.header nav a:hover {
  font-weight: bold;
  color: var(--primary-text-color);
  text-shadow: 1px 0 0 currentColor;
}
.header nav a.active {
  font-weight: 600; /* semi-bold */
  color: var(--primary-text-color);
  position: relative;
}
.header nav a.active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  background: var(--primary-text-color);
  display: block;
  position: absolute;
  top: 23px;
  left: 22px;
}
.header .body .btn-sign-up {
  width: 144px;
  line-height: 50px;
  background: #171100;
  color: var(--white-color);
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  display: block;
  text-align: center;
  margin-left: 49px;
}

/* End header section(kết thúc CSS cho phần header) */
